	*
	{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body
	{
		background-color: #ff6347;
	}

	header
	{
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: red;
		padding: 20px;
		position: relative;
	}


	header .logo img
	{
		width:80%;
		height: 80%;
		float: left;

	}

	header .login
	{
		/*position: absolute;
		right:100px;*/
		width: 50%;
		margin-right: 140px;
		height: auto;
		float: right;
	}


	header .login form
	{
		display: flex;
		/*justify-content: space-between;*/
		padding-left: 15%;
		color: white;
		font-size: 20px;
	}

	header .login form .name
	{
		margin-right: 50px;

	}

	header .login form .name .checkbox
	{
		color: #ff6347;
	}

	header .login form .name input[type=checkbox]:checked+label
	{
		color: white;

	}

	header .login form input
	{
		padding: 5px;
	}

	header .login form .pass
	{
		margin-right: 50px;

	}

	header .login form .pass a
	{
		text-decoration: none;
		color: #ff6347;

	}


	header .login form .pass a:hover
	{
		color: white;
		font-size: 1.3rem;
	}

	header .sub
	{
		position: absolute;
		top: 30px;
		right:30px;
		/*padding-top: 14px;*/
	}



	header .sub button
	{
		padding: 5px;
		background-color: #ff6347;
		border: 2px solid white;
	}

	header .sub button a
	{
		font-size: 1.4rem;
		font-weight: 700;	
		text-decoration: none;
		color: white;
	}

	header .sub button a:hover
	{
		font-size: 1.6rem;
		transform: all;
		/*color: red;*/
		/*background-color: white;*/
	}

	main
	{
		width: 40%;
		margin: 8% 0 0 27%;
		padding: 20px;
        border:3px solid red;
        background-color: white;


    }

    main h2
    {
    	margin-top: 20px;
    }

    main .option1
    {
    	padding-top: 15px;

    }

    main .option2
    {
    	margin-top: 20px;
    	padding-top: 15px;
    	border-top: 1px solid red;
    	display: flex;
    	justify-content: space-between;
        font-size: 1.4rem;
        /*background-color: #f39494;*/
    }

     main .option2 a 
     {
     	text-decoration: none;
     	
     }

     main .option2 .floatright button
     {
     	float: right;
     	padding-right: 10px;
     	margin-left: 10px;
     	
     }


      main .option2 .floatright button  a
      {
      	padding: 5px;
      	font-size: 1.2rem;
      }

    body .aakhrigyan 
      {
		width: 42%;
		margin-top: 5px;
		margin-left: 30%;
		color: white;
		font-size: 1.3rem;
      
      }



